body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.segment-one {
  background-color: #1F2937;
  padding: 10px 150px;
  display: flex;
  flex-direction: column;
  
}

.header {
  font-size: 24px;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.content-one {
  width: 450px;
}

img {
  width: 350px;
  height: 250px;
}

.image-one {
  text-align: center;
  width: 350px;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882F6;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  border-style: none;
  padding: 10px 20px;
  width: 140px;
}

.segment-two {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 100px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.body-two {
  display: flex;
  gap: 20px;
  text-align: center;
}

.images {
  width: 160px;
}

.box-image {
  border-radius: 15px;
  border-style: ridge;
  border-color: #3882F6;
  width: 150px;
  height: 150px;
}

.text-two {
  font-size: 18px;
  color: rgb(94, 94, 94);
}

.segment-three {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 260px;
}

.text-three {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.cite-author {
  display: flex;
  justify-content: end;
  width: 750px;
  font-size: 20px;
}

.segment-four {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.body-four {
  display: flex;
  border-radius: 15px;
  background-color: #3882F6;
  height: 140px;
  padding: 0 0 0 70px;
  font-size: 18px;
  width: 900px;
  gap: 70px;
  color: #E5E7EB;
}

.content-four,
.button-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;
}

.other-button {
  border-style: ridge;
  border-color: #E5E7EB;
}

h3 {
  font-size: 24px;
  color: #F9FAF8;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  font-size: 18px;
  color: #E5E7EB;
  height: 80px;
}