body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.segment-one {
  background-color: #1F2937;
  padding: 10px 50px;
  height: 350px;
}

.header {
  font-size: 24px;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.content-one {
  width: 400px;
}

.image-one {
  text-align: center;
  width: 400px;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
}

ul {
  list-style: none;
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882F6;
  color: white;
  font-size: 20px;
}

.segment-two {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 330px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.body-two {
  display: flex;
  gap: 20px;
  text-align: center;
}

.images {
  width: 160px;
}

.text-two {
  font-size: 18px;
  color: rgb(94, 94, 94);
}

.segment-three {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  height: 310px;
}

.text-three {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.cite-author {
  display: flex;
  justify-content: end;
  width: 750px;
  font-size: 20px;
}

.segment-four {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
}

.body-four,
.button-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3882F6;
  color: #E5E7EB;
  height: 140px;
  padding: 0 70px;
}

.body-four {
  font-size: 18px;
  width: 500px;
  gap: 8px;
}

h3 {
  font-size: 24px;
  color: #F9FAF8;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  font-size: 18px;
  color: #E5E7EB;
  height: 80px;
}